@import '../../../assets/styles/variables';

.app-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/assets/images/background-image.webp');
  background-size: cover;
}

.hero-content {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, .text-h1 {
    margin-top: 40px;
  }

  p, .text-p1 {
    margin-top: 21px;
  }

  button {
    margin-top: 32px;
    margin-bottom: 71px;
  }

  @media only screen and (min-width: $mobile) {
    width: 328px;
  }
}