$main-font: "Nunito", sans-serif;

$regular: 400;

/*COLORS*/
$yellow: #f4e041;
$light-yellow: #ffe302;
$blue: #00bdd3;
$light-gray: #f8f8f8;
$gray: #b4b4b4;
$grey: #d0cfcf;
$text-gray: #7e7e7e;
$black: #000000;
$white: #ffffff;
$red: #cb3d40;

$primaryColor: $yellow;
$secondaryColor: $blue;
$backgroundColor: $light-gray;

/* Breakpoints */
$desktop2k: 2560px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 360px;